{% load i18n %}
{% spaceless %}
<div class="sequence-widget" data-sequence-widget data-sequence-maximum="{{ widget.maximum_forms }}" data-sequence-absolute-maximum="{{ widget.absolute_maximum_forms }}">
  {% for management_field in widget.management_form.hidden_fields %}
    {{ management_field }}
  {% endfor %}
  <div data-sequence-rows>
    {% for row in widget.rows %}
      <div data-sequence-row data-sequence-index="{{ row.index }}">
        <input type="hidden" name="{{ row.delete_name }}" value="" data-sequence-delete{% if widget.disabled %} disabled{% endif %}>
        {% include row.subwidget.template_name with widget=row.subwidget only %}
        {% if row.errors %}<ul class="errorlist">{% for error in row.errors %}<li>{{ error }}</li>{% endfor %}</ul>{% endif %}
      </div>
    {% endfor %}
  </div>
  {% for row in widget.deleted_rows %}
    <input type="hidden" name="{{ row.delete_name }}" value="1" data-sequence-deleted-row{% if widget.disabled %} disabled{% endif %}>
  {% endfor %}
  <template data-sequence-empty-row>
    <div data-sequence-row data-sequence-index="{{ widget.empty_row.index }}">
      <input type="hidden" name="{{ widget.empty_row.delete_name }}" value="" data-sequence-delete>
      {% include widget.empty_row.subwidget.template_name with widget=widget.empty_row.subwidget only %}
    </div>
  </template>
  <template data-sequence-remove-button>
    <button type="button" data-sequence-remove{% if widget.disabled %} disabled{% endif %}>{% translate "Remove" %}</button>
  </template>
  <template data-sequence-add-button>
    <button type="button" data-sequence-add{% if widget.disabled %} disabled{% endif %}>{% translate "Add another" %}</button>
  </template>
</div>
{% endspaceless %}
