{% load i18n %}
<template data-sequence-remove-button data-sequence-field="{{ widget.name }}">
  <button
    type="button"
    data-sequence-remove
    data-sequence-field="{{ widget.name }}"
    {% if widget.attrs.id %}id="{{ widget.attrs.id }}___prefix___remove"{% endif %}
    {% if widget.disabled %} disabled{% endif %}
  >{% translate "Remove" %}</button>
</template>
<template data-sequence-add-button data-sequence-field="{{ widget.name }}">
  <button
    type="button"
    data-sequence-add
    data-sequence-field="{{ widget.name }}"
    {% if widget.attrs.id %}id="{{ widget.attrs.id }}_add"{% endif %}
    {% if widget.disabled %} disabled{% endif %}
  >{% translate "Add another" %}</button>
</template>
