{% spaceless %}
{% if widget.is_hidden %}
  {% include "nestingdolls/sequence/hidden.html" with widget=widget only %}
{% else %}
<span
  data-widget="sequence"
  data-sequence-field="{{ widget.name }}"
  data-sequence-minimum="{{ widget.minimum_forms }}"
  data-sequence-maximum="{{ widget.maximum_forms }}"
  data-sequence-absolute-maximum="{{ widget.absolute_maximum_forms }}"
  {% if widget.disabled %}data-sequence-disabled{% endif %}
  {% if widget.attrs.id %}id="{{ widget.attrs.id }}_widget"{% endif %}
>
  {% for management_field in widget.management_form.hidden_fields %}
    {{ management_field }}
  {% endfor %}
  <span
    data-sequence-rows
    data-sequence-field="{{ widget.name }}"
    {% if widget.attrs.id %}id="{{ widget.attrs.id }}_rows"{% endif %}
  >
    {% for row in widget.rows %}
      {% include "nestingdolls/sequence/row.html" with row=row widget_name=widget.name row_tag="span" body_tag="" widget_id=widget.attrs.id delete_disabled=widget.disabled only %}
      {% if not forloop.last %}<br>{% endif %}
    {% endfor %}
  </span>
  {% comment %}
  Use span in the p layout. A p element allows only phrasing content.
  {% endcomment %}
  {% include "nestingdolls/sequence/help_text.html" with help_text=widget.child_help_text id=widget.child_help_text_id tag="span" only %}
  {% include "nestingdolls/sequence/deleted_rows.html" with deleted_rows=widget.deleted_rows widget_name=widget.name disabled=widget.disabled only %}
  <template data-sequence-empty-row data-sequence-field="{{ widget.name }}">
    {% include "nestingdolls/sequence/row.html" with row=widget.empty_row widget_name=widget.name row_tag="span" body_tag="" widget_id=widget.attrs.id delete_disabled=False only %}
  </template>
  {% include "nestingdolls/sequence/actions.html" with widget=widget only %}
</span>
{% endif %}
{% endspaceless %}
