<input
  type="hidden"
  name="{{ row.delete_name }}"
  value=""
  data-sequence-delete
  data-sequence-field="{{ widget_name }}"
  {% if delete_id %}id="{{ delete_id }}_{{ row.index }}_DELETE"{% endif %}
  {% if delete_disabled %} disabled{% endif %}
>
{% include row.subwidget.template_name with widget=row.subwidget only %}
{% if row.errors %}
  <ul class="errorlist"{% if row.error_id %} id="{{ row.error_id }}"{% endif %}>{% for error in row.errors %}<li>{{ error }}</li>{% endfor %}</ul>
{% endif %}
